nav{
    background-color: #122b36;

    a.navbar-brand.titulo{
        font-family: 'Skranji', system-ui;
    }
    
     a.navbar-brand {
        color: #ffffff;
    }

    a.nav-link{
        color: #ffffff;
    }

    .offcanvas{
        color: #ffffff;
        background-color: #122b36;

        .btn-close{
            background-color: #ffffff;
        }


    }

}